body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
}

.content {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-component {
  margin: 10px;
}

input, select {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  font-size: 1rem;
  width: 180px;
}

button {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cdd;
}

#logoutButton {
  display: none;
  margin: 10px;
}

#records-table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #eee;
}

td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}

#loader {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
}

form#create-form {
  width: 30%;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

form#create-form input, form#create-form select {
  width: 100%;
}

.form-field {
  margin-bottom: 5px;
}

.form-field label {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
